@{
    ViewData["Title"] = "Objetos";
}

<table>
	<tr>
		<th>PRECIO </th>
		<th>TITULO</th>
		<th>DESCRIPCION</th>
		<th>FOTO</th>
		<th>ID OBJETO</th>
		<th>ID USUARIO</th>
	</tr>
</table>

@model IEnumerable<GarciaMarkelPersonal.Models.clases_atomicas.Objeto>
@foreach (var item in Model)
{
	<table>
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Precio)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Titulo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Descripcion)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Foto)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IdObjeto)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IdUser)
			</td>
		</tr>
	</table>
}