@{
    ViewData["Title"] = "Objetos";
}

@model IEnumerable<GarciaMarkelPersonal.Models.clases_atomicas.Objeto>
@foreach (var item in Model)
{
	<table>
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Precio)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Titulo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Descripcion)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Foto)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IdObjeto)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IdUser)
			</td>
		</tr>
	</table>
}